<html>
  <head>
    <title>The World of Balfeymere</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
    <link href="css/viewer_page.css" rel="stylesheet" type="text/css" />
  </head>
  <body>  

    <%=@Balfeymere.load_ALL_the_areas %>
  </body>
</html>
